.root{
    -fx-background-color: #524f4f;
}

.text-field{
    -fx-background-color: #3d3c3c;
    -fx-border-color: #2a2a2a;
    -fx-font-family: Cambria;
    -fx-font-size: 20;
    -fx-text-fill: #1c1c1c;
}

.button{
    -fx-background-color: #3d3c3c;
    -fx-border-color: #2a2a2a;
    -fx-font-weight: BOLD;
    -fx-font-family: Cambria;
    -fx-font-size: 20;
    -fx-text-fill: #1c1c1c;
}

.label {
    -fx-font-family: Cambria;
    -fx-font-size: 20;
    -fx-text-fill: #1c1c1c;
}

.balanceDisplay{
    -fx-font-family: TimesRoman;
    -fx-font-size: 30;
    -fx-font-weight: BOLD;
    -fx-text-fill: #1c1c1c;
}



