.root{
    -fx-background-color: #9f4242;
}

.text-field{
    -fx-background-color: #803636;
    -fx-border-color: #722d2d;
    -fx-font-family: Cambria;
    -fx-font-size: 20;
    -fx-text-fill: black;
}

.button{
    -fx-background-color: #803636;
    -fx-border-color: #722d2d;
    -fx-font-weight: BOLD;
    -fx-font-family: Cambria;
    -fx-font-size: 20;
    -fx-text-fill: black;
}

.label {
    -fx-font-family: Cambria;
    -fx-font-size: 20;
    -fx-text-fill: black;
}

.balanceDisplay{
    -fx-font-family: TimesRoman;
    -fx-font-size: 30;
    -fx-font-weight: BOLD;
    -fx-text-fill: black;
}