.root{
    -fx-background-color: #568a56;
}

.text-field{
    -fx-background-color: #4e754e;
    -fx-border-color: #385938;
    -fx-font-family: Cambria;
    -fx-font-size: 20;
}

.button{
    -fx-background-color: #4e754e;
    -fx-border-color: #385938;
    -fx-font-weight: BOLD;
    -fx-font-family: Cambria;
    -fx-font-size: 20;
}

.label{
    -fx-font-family: Cambria;
    -fx-font-size: 20;
}




